In [1]:
import os
import pandas as pd
import alpaca_trade_api as tradeapi

# Load .env enviroment variables
from dotenv import load_dotenv
load_dotenv()

%matplotlib inline

In [5]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2"
)

In [10]:
timeframe = "3Month"

# Set start and end datetimes of 1 year, between now and 365 days ago.
start_date = pd.Timestamp("2003-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2023-01-01", tz="America/New_York").isoformat()

# Set the stock tickers
tickers = ["SUSA", "XLY", "XLP", "FENY", "XME", "VIS", "XLV", "XLF", "VGT", "VOX", "VPU", "SCHH", "SPY", "QQQ"]

# Get 1 year's worth of historical data for all stocks
# HINT: Set "limit" to at least 10000 so all ticker rows are captured from get_bars()
df_ticker = api.get_bars(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

# Display sample data
df_ticker.head()

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2015-10-01 04:00:00+00:00,19.37,19.4650,16.540,17.09,5811653,19210,17.401651,FENY
2016-01-01 05:00:00+00:00,17.05,18.2200,14.140,17.56,11154476,48303,16.297547,FENY
2016-04-01 04:00:00+00:00,17.26,19.9699,17.010,19.40,12763160,41966,18.748095,FENY
2016-07-01 04:00:00+00:00,19.39,20.2052,18.200,19.83,10560153,37350,19.251545,FENY
2016-10-01 04:00:00+00:00,19.90,22.1200,18.715,21.18,13116922,43777,20.447934,FENY

In [11]:
# Reorganize the DataFrame
# Separate ticker data
SUSA = df_ticker[df_ticker['symbol']=='SUSA'].drop('symbol', axis=1)
XLY = df_ticker[df_ticker['symbol']=='XLY'].drop('symbol', axis=1)
XLP = df_ticker[df_ticker['symbol']=='XLP'].drop('symbol', axis=1)
FENY = df_ticker[df_ticker['symbol']=='FENY'].drop('symbol', axis=1)
XME = df_ticker[df_ticker['symbol']=='XME'].drop('symbol', axis=1)
VIS = df_ticker[df_ticker['symbol']=='VIS'].drop('symbol', axis=1)
XLV = df_ticker[df_ticker['symbol']=='XLV'].drop('symbol', axis=1)
XLF = df_ticker[df_ticker['symbol']=='XLF'].drop('symbol', axis=1)
VGT = df_ticker[df_ticker['symbol']=='VGT'].drop('symbol', axis=1)
VOX = df_ticker[df_ticker['symbol']=='VOX'].drop('symbol', axis=1)
VPU = df_ticker[df_ticker['symbol']=='VPU'].drop('symbol', axis=1)
SCHH = df_ticker[df_ticker['symbol']=='SCHH'].drop('symbol', axis=1)
SPY = df_ticker[df_ticker['symbol']=='SPY'].drop('symbol', axis=1)
QQQ = df_ticker[df_ticker['symbol']=='QQQ'].drop('symbol', axis=1)

# Concatenate the ticker DataFrames
df_ticker = pd.concat([SUSA, XLY, XLP, FENY, XME, VIS, XLV, XLF, VGT, VOX, VPU, SCHH, SPY, QQQ], axis=1, keys=["SUSA", "XLY", "XLP", "FENY", "XME", "VIS", "XLV", "XLF", "VGT", "VOX", "VPU", "SCHH", "SPY", "QQQ"])

# Display sample data
df_ticker.head()

                            SUSA                                               \
                            open   high      low   close   volume trade_count
timestamp
2015-10-01 04:00:00+00:00  85.72  86.10  81.6300  83.380   671288        2795
2016-01-01 05:00:00+00:00  82.00  85.52  73.9696  85.120  1040681        5709
2016-04-01 04:00:00+00:00  84.80  88.21  81.9614  86.465   996214        5369
2016-07-01 04:00:00+00:00  86.63  92.30  85.7152  90.960   841369        5565
2016-10-01 04:00:00+00:00  90.68  94.47  87.0900  92.010  1199708        7216

                                        XLY                   ...         SPY  \
                                vwap   open     high     low  ...      volume
timestamp                                                     ...
2015-10-01 04:00:00+00:00  83.592754  81.22  81.7500  77.195  ...  2922426372
2016-01-01 05:00:00+00:00  79.529572  76.78  79.3900  67.590  ...  8949002988
2016-04-01 04:00:00+00:00  85.978614  78.60  80.5350  74.180  ...  6364738488
2016-07-01 04:00:00+00:00  90.233971  78.14  82.3800  77.740  ...  5463192462
2016-10-01 04:00:00+00:00  91.265485  79.73  84.6833  76.610  ...  5618212995

                                                       QQQ                  \
                          trade_count        vwap     open    high     low
timestamp
2015-10-01 04:00:00+00:00     9965348  205.368321  114.475  115.75  109.38
2016-01-01 05:00:00+00:00    33547042  193.502416  109.430  110.18   94.84
2016-04-01 04:00:00+00:00    23206706  206.933815  108.580  111.44  101.75
2016-07-01 04:00:00+00:00    18228387  215.613079  107.490  119.22  106.57
2016-10-01 04:00:00+00:00    18653532  218.203532  118.530  121.52  113.45


                            close      volume trade_count        vwap
timestamp
2015-10-01 04:00:00+00:00  111.86   756800743     2935046  112.759112
2016-01-01 05:00:00+00:00  109.20  2619549040    11222408  102.807401
2016-04-01 04:00:00+00:00  107.54  1674478815     5573728  107.671341
2016-07-01 04:00:00+00:00  118.72  1328552759     3839673  115.239202
2016-10-01 04:00:00+00:00  118.48  1522902624     4558338  117.709868

[5 rows x 98 columns]

In [12]:
df_closing_prices = pd.DataFrame()

# Fetch the closing prices for all the tickers
for ticker in tickers:
    df_closing_prices[ticker] = df_ticker[ticker]["close"]

# Drop the time component of the date
df_closing_prices.index = df_closing_prices.index.date

# Display sample data
df_closing_prices.head()

,SUSA,XLY,XLP,FENY,XME,VIS,XLV,XLF,VGT,VOX,VPU,SCHH,SPY,QQQ
2015-10-01,83.380,78.1608,50.49,17.09,14.95,101.030,72.030,23.830,108.29,83.91,93.93,39.64,203.870,111.86
2016-01-01,85.120,79.1000,53.06,17.56,20.46,105.210,67.780,22.500,109.53,92.72,107.53,41.40,205.520,109.20
2016-04-01,86.465,78.0600,55.15,19.40,24.41,106.270,71.705,22.855,107.09,98.40,114.50,43.44,209.475,107.54
2016-07-01,90.960,80.0400,53.21,19.83,26.52,110.904,72.110,19.300,120.37,94.39,106.96,42.65,216.350,118.72
2016-10-01,92.010,81.4000,51.71,21.18,30.41,119.260,68.940,23.260,121.50,100.15,107.01,41.04,223.520,118.48

In [13]:
# Compute daily returns
df_quarterly_returns = df_closing_prices.pct_change().dropna()

# Display sample data
df_quarterly_returns.head()

,SUSA,XLY,XLP,FENY,XME,VIS,XLV,XLF,VGT,VOX,VPU,SCHH,SPY,QQQ
2016-01-01,0.020868,0.012016,0.050901,0.027501,0.368562,0.041374,-0.059003,-0.055812,0.011451,0.104993,0.144789,0.044400,0.008093,-0.023780
2016-04-01,0.015801,-0.013148,0.039389,0.104784,0.193060,0.010075,0.057908,0.015778,-0.022277,0.061260,0.064819,0.049275,0.019244,-0.015201
2016-07-01,0.051986,0.025365,-0.035177,0.022165,0.086440,0.043606,0.005648,-0.155546,0.124008,-0.040752,-0.065852,-0.018186,0.032820,0.103961
2016-10-01,0.011544,0.016992,-0.028190,0.068079,0.146682,0.075344,-0.043961,0.205181,0.009388,0.061023,0.000467,-0.037749,0.033141,-0.002022
2017-01-01,0.067819,0.080467,0.055502,-0.073182,0.000329,0.037481,0.078619,0.020206,0.116296,-0.052721,0.052518,-0.006335,0.054402,0.117319